body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul{
	padding: 0;
	margin: 0;
}

header{
	background: #35424a;
	color: #ffffff;
	padding-top: 38px;
	min-height: 70px;
	border-bottom: #e8491d 3px solid;
}

header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float: left;
}

header .logo, header .current a{
	color: #e8491d;
	font-weight: bold;
}

header #branding h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 10px;
}

header a:hover{
	color: #cccccc;
	font-weight: bold;
}

button{
	background: #e8491d;
	color: #ffffff;
	border-width: 0;
	height: 30px;
}

#newsletter{
	padding: 15px;
	background: #35424a;
	color: #ffffff;
}

#newsletter form{
	float: right;
	margin-top: 20px;
}

#newsletter h1{
	float: left;
}

#newsletter input[type="email"]{
	height: 25px;
	width: 250px;
}

#main .heading h3{
	color: #35424a;
}

#services{
	width: 65%;
	float: left;
}

.cols{
	margin: 5px;
	margin-top: 10px;
	background: #e6e6e6;
	padding: 10px;
}



aside#sidebar{
	float: right;
	width: 30%;
	margin-top: 10px;
	background: #35424a;
	color: #ffffff;
	padding: 15px;
}

aside h3{
	color: #ffffff;
}

#getresponse input[type="email"], input[type="text"]{
	width: 250px;
	height: 25px;

}

#getresponse textarea{
	width: 250px;
}
#getresponse h3{
	margin-bottom: 5px;
}

#getresponse button{
	width: 70px;
}

#getresponse h1{
	font-size: 24px;
}

footer{
	background: #e8491d;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	padding: 20px;
	font-size: 20px;
	margin-top: 20px;
}

